body {
    background-color: #eeeeee;
}

#title {
    display: block;
    font-size: 20px;
    text-align: center;
    font-family: "Segoe UI", serif;
}

#map {
    margin: 0 auto;
    width: 1024px;
    height: 768px;
    border: 1px solid black;
}

#buttons {
    width: 1024px;
    margin: 10px auto 20px auto;
    text-align: center;
}

#label {
    font-size: 15px;
    font-weight: bold;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

hr {
    color: #000;
}

#bottom {
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    color: black;
    font-family: "Times New Roman", serif;
    font-weight: bold;
}