<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Google Map API with Vue.js</title>

    <link rel="stylesheet" href="css.css"/>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Google Map -->
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBzE9xAESye6Kde-3hT-6B90nfwUkcS8Yw"></script>
</head>
<body>

<div id="top">
    <span id="title">click here</span>
    <div id="buttons" class="row">
        <div class="col-xs-6 col-sm-3" v-for="location in locations">
            <button type="button" :class="classObj" v-model="location" v-on:click="toggleMarker($event)">
                <span id="label">{{location.label}}</span><br/>
                Latitude:&nbsp;{{location.latitude}}<br/>
                Longitude:&nbsp;{{location.longitude}}
            </button>
        </div>
    </div>
    <div id="map"></div>
</div>

<div id="bottom">
    <p>By Zhiwei Chu<br/>
        Northeastern University, Shenyang, China</p>
</div>

<script>
    var app = new Vue({
        el: '#top',
        data: {
            map: null,
            locations: [
                {
                    "label": "A",
                    "latitude": 41.885080,
                    "longitude": -87.624135
                },
                {
                    "label": "B",
                    "latitude": 41.831008,
                    "longitude": -88.010101
                },
                {
                    "label": "C",
                    "latitude": 42.139287,
                    "longitude": -88.056793
                },
                {
                    "label": "D",
                    "latitude": 42.002685,
                    "longitude": -86.392365
                }
            ],
            markers: [],
            classObj: {
                "btn": true,
                "btn-danger": true,
                "btn-md": true
            }
        },
        methods: {
            initMap: function () {
                this.map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    gestureHandling: 'none',
                    zoomControl: false
                });
            },

            showMarkers: function () {
                for (var i = 0; i < this.locations.length; i++) {
                    var marker = this.createMarker(this.locations[i].label, this.locations[i].latitude, this.locations[i].longitude);
                    var infoWindow = this.createInfoWindow(this.locations[i].latitude, this.locations[i].longitude);
                    infoWindow.open(this.map, marker);
                    this.markers.push(marker);
                }
                var bounds = new google.maps.LatLngBounds();
                for (i = 0; i < this.markers.length; i++) {
                    bounds.extend(this.markers[i].getPosition());
                }
                this.map.fitBounds(bounds);
            },

            toggleMarker: function (event) {
                var btn = event.target;
                var text = btn.innerText;
                var label = text.split("\n")[0];
                var longitude = text.split(":")[2];
                var latitude = text.split("\n")[1].split(":")[1];
                var marker = null;
                var infoWindow = null;

                if (btn.classList.contains("btn-danger")) {
                    btn.classList.remove("btn-danger");
                    if (this.markers) {
                        for (i in this.markers) {
                            if (this.markers[i].label === label) {
                                this.markers[i].setMap(null);
                            }
                        }
                    }
                } else {
                    btn.classList.add("btn-danger");
                    marker = this.createMarker(label, latitude, longitude);
                    infoWindow = this.createInfoWindow(latitude, longitude);
                    infoWindow.open(this.map, marker);
                    this.markers.push(marker);
                }
            },

            createMarker: function (label, latitude, longitude) {
                var position = new google.maps.LatLng(latitude, longitude);
                return new google.maps.Marker({
                    position: position,
                    map: this.map,
                    animation: google.maps.Animation.DROP,
                    label: label
                });
            },

            createInfoWindow: function (latitude, longitude) {
                return new google.maps.InfoWindow({
                    content: "Latitude: " + latitude + "<br/>Longitude: " + longitude
                });
            }
        }
    });
    app.initMap();
    app.showMarkers();

</script>

</body>
</html>